name: Running Test

on: [push, pull_request]
branches: [dev]

jobs:
  tests:
    name: Run PHPUnit tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Change directory
      run: cd src

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'

    - name: Install dependencies
      run: composer install --prefer-dist --no-ansi --no-interaction --no-progress --no-scripts --no-suggest

    - name: Generate RSA256
      run: php artisan app:rsa

    - name: Run tests
      run: vendor/bin/phpunit